{% extends 'main.html.twig' %}

{% import 'form.html.twig' as form %}

{% block content %}
    <form action="" method="post" class="w-50 m-auto">
        {{form.input('titreArticle', 'Titre : ')}}
        {{form.texteArea('texteArticle', 'Texte : ')}}
        <button type="submit" class="btn btn-primary">Ajouter</button>
{% endblock %}